BasedOnStyle: WebKit
AlignAfterOpenBracket: BlockIndent
AlignEscapedNewlines: Left
AllowAllArgumentsOnNextLine: false
BinPackArguments: false
BreakBeforeTemplateCloser: true
BreakConstructorInitializers: AfterColon
BreakTemplateDeclarations: Yes
ColumnLimit: 100
ForEachMacros:
  - testgroup
  - testcase
InsertNewlineAtEOF: true
PenaltyReturnTypeOnItsOwnLine: 219
SpaceAfterTemplateKeyword: false
